:root {
    --color-lineargradient: hsl(249,99%,64%) to hsl(278, 94%, 30%);
    --color-red: hsl(0, 100%, 66%);
    --color-white: hsl(0, 0%, 100%);
    --color-lightgrayishviolet: hsl(270, 3%, 87%);
    --color-darkgrayishviolet: hsl(279, 6%, 55%);
    --color-verydarkviolet: hsl(278, 68%, 11%);
}

* {
    user-select: none;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgrounds {
    position: relative;
    width: 100%;
    height: 100%;
}
.background-left {
    position: absolute;
    width: 483px;
    height: 100%;
}
.background-right {
    position: absolute;
    height: 100%;
}